/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #fdcc52;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/*
.jumbotron {
  width: 1900px;
  height: 1000px;
}*/

.jumbotron .device img {
  width: 443px;
  height: 894px;
}

#mainNav .container {
  display: flex;
  justify-content: space-between;
}

#mainNav .container .links-list ul {
  display: flex;
  list-style: none;
}

.col-lg-7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col-lg-7 h1 {
  width: 500px;
}

#download {
  background-color: #fdc949;
}

.download .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download .container .col-md-8 {
  text-align: center;
}

.download .container .col-md-8 .section-heading {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 113%;
  /* or 113px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;

  color: #000000;
}

.badges .badges-link img {
  width: 280px;
  height: 80px;
}
